{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

        <p>Hi! My name is Arturo and I'm from Spain.</p>
        <p>I decided to make this project in order to help me run my games of Dungeons and Dragons 5th edition.</p>
        <p>Currently we are playing the campaign module Curse of Strahd which was firstly released for the first edition of the game and every edition since then.</p>
        <p>I hope anyone who reads this a very nice day!</p>
        <p>The woman in statblocks.html is my girlfriend who will remain as Clarytie, she is ok with me using that image of her.</p>

{% endblock %}