{% extends "layout.html" %}

{% block title %}
    Characters
{% endblock %}

{% block main %}
    <body>
        <h1 class="container container-fluid border border-dark rounded">STATBLOCKS</h1>

        <div class="container container-fluid border border-dark border-4 rounded">

            <div class="row col-md-auto border border-dark border-3 rounded">
                <div1 class="col-md-auto border border-dark border-3 rounded">
                    <p1>Ana (Clarytie)</p1>
                    <p2>feérico medio, NG, druid 4</p2>
                </div1>
            </div>
            <div class="row">
                <div class="col">

                    <ul class="border border-dark border-3 rounded">
                        <li>CA 14</li>
                        <li>HP 45</li>
                        <li>Velocidad 6</li>
                    </ul>
                    <ul class="border border-dark border-3 rounded">
                        <li>Inmunidades: chistes malos</li>
                        <li>Sentidos: común</li>
                        <li>Idiomas:Español, Inglés, Polaco</li>
                    </ul>
                    <ul class="border border-dark border-3 rounded">
                        <h3><strong>Otras características:</strong></h3>
                        <li>Ninfa de los bosques</li>
                        <li>Cuteness</li>
                        <li>Gótica</li>
                    </ul>
                </div>
                <div class="col">
                    <table class="table table-dark table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">FUE</th>
                                <th scope="col">DES</th>
                                <th scope="col">CON</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>10 <strong>(+0)</strong></td>
                                <td>16 <strong>(+3)</strong></td>
                                <td>14 <strong>(+2)</strong></td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-dark table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">INT</th>
                                <th scope="col">SAB</th>
                                <th scope="col">CAR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>15 <strong>(+2)</strong></td>
                                <td>13 <strong>(+1)</strong></td>
                                <td>12 <strong>(+1)</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div2 class="col-md-auto border border-dark border-3 rounded">
                    <img src="clarytie.jpeg" class="rounded rounded-3 float-end rounded float-start" alt="Monster" >
                </div2>
            </div>

            <div class="row">
                <table class="table table-dark table-striped table-hover">
                    <tr><h3><strong>Acciones</strong></h3></tr>
                    <tr>
                        <td>Ataque 1:</td>
                        <td>Ataque 2:</td>
                        <td>Ataque 3:</td>
                    </tr>
                    <tr>
                        <td>Pedo</td>
                        <td>Mirada intensa</td>
                        <td>Ataque de pecho</td>
                    </tr>
                </table>
            </div>
        </div>

        <div>
            <ul><h1>TO DO</h1>
                NobleIreena Kolyana-
                VeteranIsmark-
                El Abad-
                Amalghomo
                Árbol Marchito
                Baba Lysaga-
                Bruja baroviana-
                Ezmeralda D'Avenir-
                Guerrero Fantasma
                Hombre cuervo-
                Izek Strazni-
                Kasimir Velikov-
                Armadura animada de Strahd-
                Cabaña reptante de Baba Lysaga
                Escoba de ataque animada-
                Retrato Guardián
                Pidlwick II-
                Rahadin-
                Rictavio--
                Strahd von Zarovich-
                Vladimir Horngaard-
                Zombie de Strahd-
                Jinete esquelético-
                Lobo terrible-
                Lobo-
                Berserker-
                Hombre lobo-
                Druida salvaje-
                Ramas marchitas-
                Aguja maldita-
                Espantapájaros-
                Regresado-
                Fantasma-
                Bandada de murciélagos
                Fuego Fatuo
            </ul>
        </div>

    </body>

{% endblock %}