{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="{% static 'dnd/styles.css' %}" rel="stylesheet">

        <title>{% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav>
            <div>
                <a href="/">Home</a>
                <a href="{% url 'character:load' %}">Load</a>
                <a href="{% url 'character:save' %}">Save</a>

                <!-- form/search bar that method post to load and search in the database for that word -->
            </div>
        </nav>


        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>
