{% extends "index/layout.html" %}
{% block title %}
    Load Character
{% endblock %}
{% block main %}

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col">Character Name (Player Name)</th>
            <th scope="col">Ancestry</th>
            <th scope="col">Class (Level)</th>
            <th scope="col">CA</th>
            <th scope="col">HP</th>
            <th scope="col">PP</th>
            <th scope="col">STR</th>
            <th scope="col">DEX</th>
            <th scope="col">CON</th>
            <th scope="col">INT</th>
            <th scope="col">WIS</th>
            <th scope="col">CHA</th>
        </tr>
    </thead>
    <tbody>
        {% for character in character %}
        <tr class="table-dark">
            <td>{{ character.charname }} ({{ character.playername }})</td>
            <td>{{ character.race }}</td>
            <td>{{ character.charclass }} ({{ character.level }})</td>
            <td>{{ character.ca }}</td>
            <td>{{ character.hp }}</td>
            <td>{{ character.pp }}</td>
            <td>{{ character.str }}</td>
            <td>{{ character.dex }}</td>
            <td>{{ character.con }}</td>
            <td>{{ character.int }}</td>
            <td>{{ character.wis }}</td>
            <td>{{ character.cha }}</td>
        </tr>            
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'character:save' %}" class="btn btn-primary bg-dark bg-opacity-50">Add New Character</a>
{% endblock %}