{% extends "character/layout.html" %}


{% block title %}
    Loaded
{% endblock %}

{% block main %}

<div>
    <p>{{ character.charname }} ({{ character.playername }})</p>
    <p>{{character.race}}, {{ character.charclass }} {{ character.level }}</p>
</div>

<div>
    <ul>
        <li>CA {{ character.ca }}</li>
        <li>HP {{ character.hp }}</li>
    </ul>
</div>

<table>
    <thead>
        <tr>
            <th>FUE</th>
            <th>DES</th>
            <th>CON</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ character.str }}</td>
            <td>{{ character.dex }}</td>
            <td>{{ character.con }}</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>INT</th>
            <th>SAB</th>
            <th>CAR</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{ character.int }}</td>
            <td>{{ character.wis }}</td>
            <td>{{ character.cha }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}