{% extends "index/layout.html" %}
{% block title %}
    Save Character
{% endblock %}
{% block main %}

<h1 class="text-center bg-light bg-opacity-25">ADD NEW CHARACTER</h1>

<form action="{% url 'character:save' %}" method="post">
    {% csrf_token %}
    <div class="row border">
        <div class="col-2 border border-secondary">Player: {{ form.playername }}</div>
        <div class="col-2 border border-secondary">Character: {{ form.charname }}</div>
        <div class="col-2 border border-secondary">Ancestry: {{ form.race }}</div>
        <div class="col-2 border border-secondary">Class: {{ form.charclass }}</div>
        <div class="col-2 border border-secondary">Level: {{ form.level }}</div>
    </div>
    <div class="row border">
        <div class="col-2 border border-secondary">Armor Class: {{ form.ca }}</div>
        <div class="col-2 border border-secondary">Hit Points: {{ form.hp }}</div>
        <div class="col-2 border border-secondary">Passive Perception: {{ form.pp }}</div>
    </div>
    <div class="row border">
        <div class="col-2 border border-secondary">Strength: {{ form.str }}</div>
        <div class="col-2 border border-secondary">Dexterity: {{ form.dex }}</div>
        <div class="col-2 border border-secondary">Constitution: {{ form.con }}</div>
        <div class="col-2 border border-secondary">Intelligence: {{ form.int }}</div>
        <div class="col-2 border border-secondary">Wisdom: {{ form.wis }}</div>
        <div class="col-2 border border-secondary">Charisma: {{ form.cha }}</div>
    </div>
    <input class="btn btn-primary bg-dark bg-opacity-50" type="submit" value="Save character">
</form>
{% endblock %}