{% extends "index/layout.html" %}
{% block title %}
    Combat!
{% endblock %}
{% block main %}
<div class="container">
<p><button class="btn btn-primary bg-dark bg-opacity-50" data-col="10" id="hide">Sort Combatants by Ini</button></p>
<p><button class="btn btn-primary bg-dark bg-opacity-50" style="visibility:hidden;" id="show" onclick="upward()">Next Turn</button></p>
</div>

<div class="container">
<table class="table table-hover table-responsive">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">CA</th>
        <th scope="col">HP</th>
        <th scope="col">STR</th>
        <th scope="col">DEX</th>
        <th scope="col">CON</th>
        <th scope="col">INT</th>
        <th scope="col">WIS</th>
        <th scope="col">CHA</th>
        <th scope="col" hidden>Ini</th>
    </tr>
    </thead>
    
    <tbody id="table">
        {% for enemy in enemies %}
        <tr class="table-dark">
            <td>ENEMY</td>
            <td>{{ enemy.moname }}({{ forloop.counter }})</td>
            <td>{{ enemy.ca }}</td>
            <td><input type="number" id="{{ enemy.moname }}#{{ forloop.counter }}" value="{{ enemy.hp }}" /> / {{ enemy.hp }}</td>
            <td>{{ enemy.str }}</td>
            <td>{{ enemy.dex }}</td>
            <td>{{ enemy.con }}</td>
            <td>{{ enemy.int }}</td>
            <td>{{ enemy.wis }}</td>
            <td>{{ enemy.cha }}</td>
            <td hidden>{{ enemy.ini }}</td>
            <td><input type="button" value="Delete Row" onclick="SomeDeleteRowFunction(this)"></td>
        </tr>
        {% endfor %}
        {% for player in players %}
        <tr class="table-dark">
            <td>FRIEND</td>
            <td>{{ player.charname }}</td>
            <td>{{ player.ca }}</td>
            <td><input type="number" id="{{ player.charname }}" value="{{ player.hp }}" /> / {{ player.hp }}</td>
            <td>{{ player.str }}</td>
            <td>{{ player.dex }}</td>
            <td>{{ player.con }}</td>
            <td>{{ player.int }}</td>
            <td>{{ player.wis }}</td>
            <td>{{ player.cha }}</td>
            <td hidden>{{ player.ini }}</td>
            <td><input type="button" value="Delete Row" onclick="SomeDeleteRowFunction(this)"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<table class="table">
    <tr class="table-dark">
        <td>Monster type: {{ enemies.0.montype }} |</td>
        <td>CR: {{ enemies.0.cr }} |</td>
        <td>DRS: {{ enemies.0.drs }} |</td>
        <td>Speed: {{ enemies.0.speed }} |</td> 
        <td>PP: {{ enemies.0.pp }}</td>
    </tr>
</table>
    <div class="row">
        <div class="col">
            <table class="table">
                <tr class="bg-dark bg-opacity-50"><td>Skills</td></tr>
                <tr class="table-dark">
                    <td>{{ enemies.0.skill_1 }}</td>
                </tr>
                <tr class="table-dark">
                    <td>{{ enemies.0.skill_2 }}</td>
                </tr>
                <tr class="table-dark">
                    <td>{{ enemies.0.skill_3 }}</td>
                </tr>
            </table>
        </div>
        
        <div class="col">
            <table class="table">
                <tr class="bg-dark bg-opacity-50"><td>Actions</td></tr>
                <tr class="table-dark">
                    <td>{{ enemies.0.action_1 }}</td>
                </tr>
                <tr class="table-dark">
                    <td>{{ enemies.0.action_2 }}</td>
                </tr>
                <tr class="table-dark">
                    <td>{{ enemies.0.action_3 }}</td> 
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table"><tr class="table-dark"><td>Spells: {{ enemies.0.spells }}</td></tr></table>
        </div>
    </div>
</div>

<script>

const tb=document.getElementById("table"),
  trs=[...tb.children];

document.body.onclick=ev=>{
 let col= ev.target.dataset?.col;
 if(col){
  trs.sort((a,b)=>b.children[col].textContent-a.children[col].textContent);
  trs.forEach(tr=>tb.append(tr));
 }
document.getElementById('hide').style.visibility='hidden';
document.getElementById('show').style.visibility='visible';
}

function upward() {
  var table = document.getElementsByTagName('table');
  var table = table[0];
  var rows = table.getElementsByTagName('tr');
  var shifted = rows[1];
  rows[1].parentNode.removeChild(rows[1]);
  table.appendChild(shifted);
}

function SomeDeleteRowFunction(o) {
     var p=o.parentNode.parentNode;
         p.parentNode.removeChild(p);
    }
</script>

{% endblock %}