{% extends "index/layout.html" %}
{% block title %}
    About
{% endblock %}
{% block main %}
<div class="container bg-light bg-opacity-50">
<p>Hi! Art here!</p>
<p>I'm a 28 year old dentistry student currently living in Madrid.</p>
<p>My passion has always been engineer-oriented. Never had the oportunity to do so, but with this course I was able to at least introduce myself 
to the world of computer science. I cannot be happier! I have come such a long way since I first started.
</p>
<p>If for whatever reason you are reading this, don't be discoraged to continue. In the end it will all be worth it! I promise.</p>
<p>My coding related address is: artsanchezgarcia@gmail.com</p>
<p>Contact me if you need help with this course!</p>
</div>

{% endblock %}