{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="{% static 'dnd/styles.css' %}" rel="stylesheet">

        <title>{% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav>
            <div>
                <a href="/">Home</a>
                <a href="{% url 'character:load' %}">Character</a>
                <a href="{% url 'monster:loadmon' %}">Index</a>
                <a href="{% url 'monster:savemon' %}">Create</a>
                <form>
                    <input id="moname" type="search" name="moname">
                    <input type="submit" value="Search monster">
                </form>
            </div>
        </nav>


        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>
