{% extends "index/layout.html" %}
{% block title %}
    Load Monster
{% endblock %}
{% block main %}
<table>
    <thead>
        <tr>
            <td>Monster Name</td>
            <td>Type and Size</td>
            <td>CR</td>
            <td>CA</td>
            <td>HP</td>
            <td>DRS</td>
            <td>SPEED</td>
            <td>STR</td>
            <td>DEX</td>
            <td>CON</td>
            <td>INT</td>
            <td>WIS</td>
            <td>CHA</td>
            <td>PP</td>
            <td>SKILL 1</td>
            <td>SKILL 2</td>
            <td>SKILL 3</td>
            <td>ACTION 1</td>
            <td>ACTION 2</td>
            <td>ACTION 3</td>
            <td>SPELLS</td>
        </tr>
    </thead>

    <tbody>
        {% for monster in monsters %}
        <tr>
            <td>{{ monster.moname }}</td>
            <td>{{ monster.montype }}</td>
            <td>{{ monster.cr }}</td>
            <td>{{ monster.ca }}</td>
            <td>{{ monster.hp }}</td>
            <td>{{ monster.drs }}</td>
            <td>{{ monster.speed }}</td>
            <td>{{ monster.str }}</td>
            <td>{{ monster.dex }}</td>
            <td>{{ monster.con }}</td>
            <td>{{ monster.int }}</td>
            <td>{{ monster.wis }}</td>
            <td>{{ monster.cha }}</td>
            <td>{{ monster.pp }}</td>
            <td>{{ monster.skill_1 }}</td>
            <td>{{ monster.skill_2 }}</td>
            <td>{{ monster.skill_3 }}</td>
            <td>{{ monster.action_1 }}</td>
            <td>{{ monster.action_2 }}</td>
            <td>{{ monster.action_3 }}</td>
            <td>{{ monster.spells }}</td>
        </tr>
        {% empty %}
        <tr>
            <td>No monster over here</td>
        </tr>         
        {% endfor %}
    </tbody>
</table>
{% endblock %}