{% extends "index/layout.html" %}
{% block title %}
    Load Monster
{% endblock %}
{% block main %}
<a href="{% url 'monster:savemon' %}" class="btn btn-primary bg-dark bg-opacity-50">Add New Monster</a>
<div class="table-responsive">
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col">Monster Name</th>
            <th scope="col">Type and Size</th>
            <th scope="col">CR</th>
            <th scope="col">CA</th>
            <th scope="col">HP</th>
            <th scope="col">DRS</th>
            <th scope="col">SPEED</th>
            <th scope="col">STR</th>
            <th scope="col">DEX</th>
            <th scope="col">CON</th>
            <th scope="col">INT</th>
            <th scope="col">WIS</th>
            <th scope="col">CHA</th>
            <th scope="col">PP</th>
        </tr>
    </thead>

    <tbody>
        {% for monster in monsters %}
        <tr class="border border-light">
            <tr class="table-dark">
                <td>{{ monster.moname }}</td>
                <td>{{ monster.montype }}</td>
                <td>{{ monster.cr }}</td>
                <td>{{ monster.ca }}</td>
                <td>{{ monster.hp }}</td>
                <td>{{ monster.drs }}</td>
                <td>{{ monster.speed }}</td>
                <td>{{ monster.str }}</td>
                <td>{{ monster.dex }}</td>
                <td>{{ monster.con }}</td>
                <td>{{ monster.int }}</td>
                <td>{{ monster.wis }}</td>
                <td>{{ monster.cha }}</td>
                <td>{{ monster.pp }}</td>
            </tr>
            <tr class="table-dark">
                <td>{{ monster.skill_1 }}</td>
                <td>{{ monster.skill_2 }}</td>
                <td>{{ monster.skill_3 }}</td>
                <td>{{ monster.action_1 }}</td>
                <td>{{ monster.action_2 }}</td>
                <td>{{ monster.action_3 }}</td>
                <td>{{ monster.spells }}</td>
            </tr>
        </tr>
        {% empty %}
        <tr>
            <td>No monster over here</td>
        </tr>         
        {% endfor %}
    </tbody>
</table>
</div>
<a href="{% url 'monster:savemon' %}" class="btn btn-primary bg-dark bg-opacity-50">Add New Monster</a>
{% endblock %}