{% extends "rte/layout.html" %}
{% block title %}
    Index Tables
{% endblock %}
{% block main %}

<form action="{% url 'rte:prepcomb' %}" method="post">
{% csrf_token %}
<h1>CHOOSE YOUR TABLE</h1>
<table>
    <thead>
        <tr><th>
        <select name="table" id="table" type="text">
            <option>Choose a table</option>
            {% for table in tables %}
            <option value="{{ forloop.counter }}">{{ table.0 }}</option>
            {% endfor %}
        </th></tr>
    </thead>
</table>    
<button type="submit">Combat!</button>
</form>

<div id="0" style="display: block"></div>
{% for table in tables %}
<div class="table hidden" id="{{ forloop.counter }}" style="display: none">
    <ul>
    {% for item in table %}
        <il>{{ item }}</il>
    {% endfor %}
    </ul>
</div>
{% endfor %}

<script>
    document.getElementById('table').onchange = function() {
        var i = 1;
        var myDiv = document.getElementById(i);
        while(myDiv) {
            myDiv.style.display = 'none';
            myDiv = document.getElementById(++i);
        }
        document.getElementById(this.value).style.display = 'block';
    };
</script>

{% endblock %}
