{% extends "index/layout.html" %}
{% block title %}
    Index Tables
{% endblock %}
{% block main %}
<h1 class="text-center bg-light bg-opacity-25">CHOOSE YOUR TABLE</h1>
<form class="text-center" action="{% url 'rte:prepcomb' %}" method="post">
    {% csrf_token %}
    <select class="bg-secondary" name="table" id="table" type="text">
        <option>Choose a table</option>
        {% for table in tables %}
        <option value="{{ forloop.counter }}">{{ table.0 }}</option>
        {% endfor %}
    </select>
    <button class="bg-dark bg-opacity-25" type="submit">Combat!</button>
</form>

<div class="container container-fluid text-opacity-50">
    <div class="" id="0" style="display: block"></div>
    {% for table in tables %}
    <div class="hidden" id="{{ forloop.counter }}" style="display: none">
        {% for item in table %}
            <div class="text-center">{{ item }}</div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<script>
    document.getElementById('table').onchange = function() {
        var i = 1;
        var myDiv = document.getElementById(i);
        while(myDiv) {
            myDiv.style.display = 'none';
            myDiv = document.getElementById(++i);
        }
        document.getElementById(this.value).style.display = 'block';
    };
</script>

{% endblock %}
