{% extends "rte/layout.html" %}
{% block title %}
    Iniciative!!!
{% endblock %}
{% block main %}

<p>You are going to fight: {{ enemies.1 }} {{ enemies.0 }}</p>

<form action="{% url 'encounter:combat' %}" method="post">
    {% csrf_token %}
    <label for="noe">Nº of enemies</label>
    <input type="number" name="numenemy" value="{{ enemies.1 }}">
    <label for="typenemy">Enemy Type</label>
    <input type="text" name="typenemy" value="{{ enemies.0 }}" readonly>

    <div>
        {% for character in characters %}
        {{ character.0 }}
        <input type="number" name="ini{{ forloop.counter }}">
        {% endfor %}
    </div>
    <input type="submit">
</form>

{% endblock %}
