{% extends "layout.html" %}

{% block title %}
    Characters
{% endblock %}

{% block main %}

        <div><h2>{{ apology }}{{ message }}</h2></div>
        
        <form action="/charbuild" method="post">
            <div class="row">
                <div class="col">
                    <label class="form-label">Character Name and Race</label>
                    <input class="form-control" id="charname">   
                    <input class="form-control" id="race">
                </div>

                <div class="col">
                    <label class="form-label">Class and Level</label>
                    <input class="form-control" id="class">
                    <input class="form-control" id="level">
                </div>

                <div class="col">
                    <label class="form-label">Player Name</label>
                    <input class="form-control" id="playername">

                </div>
            </div>

            <div class="row">
                <div class="col input-group">
                    <span class="input-group-text" id="basic-addon1">Class Armor</span>
                    <input class="form-control" id="ca">
                </div>

                <div class="col input-group">
                    <span class="input-group-text" id="basic-addon1">Hit Points</span>
                    <input class="form-control" id="hp">
                </div>
            </div>

            <div class="row">
                <div class="col input-group">
                    <span class="input-group-text" id="basic-addon1">Passive Perception</span>
                    <input class="form-control" id="pp">
                </div>

                <div class="col input-group">
                    <div class="col input-group">
                        <span class="input-group-text" id="basic-addon1">Str</span>
                        <input type="text" id="str" class="form-control">
                    </div>
                    <div class="col input-group">
                        <span class="input-group-text" id="basic-addon1">Dex</span>
                        <input type="text" id="dex" class="form-control">
                    </div>
                    <div class="col input-group">
                        <span class="input-group-text" id="basic-addon1">Con</span>
                        <input type="text" id="con" class="form-control">
                    </div>
                    <div class="col input-group">
                        <span class="input-group-text" id="basic-addon1">Int</span>
                        <input type="text" id="int" class="form-control">
                    </div>
                    <div class="col input-group">
                        <span class="input-group-text" id="basic-addon1">Wis</span>
                        <input type="text" id="wis" class="form-control">
                    </div>
                    <div class="col input-group">
                        <span class="input-group-text" id="basic-addon1">Cha</span>
                        <input type="text" id="cha" class="form-control">
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    
{% endblock %}