{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <body>
        <h1 class="container container-fluid border border-dark rounded">WELCOME TO THE HOMEPAGE</h1>
        <div class="lead container container-fluid border border-dark rounded" style="background: #969696;">
            <p style="text-align: center;">This is a work in progress and will be part of my final project</p>
        </div>

        <div class="container container-fluid border border-dark border-4 rounded">
            <ul>
                <li style="font-size: 30px;"><a href="/characters">Characters</a></li>
                <li style="font-size: 30px;"><a href="/monsterindex">Monster Index</a></li>
                <li style="font-size: 30px;"><a href="/statblocks">Statblocks</a></li>
                <li style="font-size: 30px;"><a href="/about">About</a></li>
            </ul>
        </div>
    </body>

{% endblock %}