{% extends "layout.html" %}

{% block title %}
    Monster Index
{% endblock %}

{% block main %}

    <body>
        <h1 class="container container-fluid border border-dark rounded">Friend or Foe?</h1>

        <h2>Friend</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Statblock</th>
                    <th scope="col">??</th>
                    <th scope="col">Link</th>
                    <th scope="col">Combat</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                  <th>Ireena Kolyana</th>
                  <td>Noble</td>
                  <td>?</td>
                  <td>Link</td>
                  <td>Link</td>
                </tr>

                <tr>
                    <th>Ismark</th>
                    <td>Veteran</td>
                    <td>?</td>
                    <td>Link</td>
                    <td>Link</td>
                </tr>
            </tbody>
        </table>


        <h2>Foe</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">??</th>
                    <th scope="col">CR</th>
                    <th scope="col">Link</th>
                    <th scope="col">Combat</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>El Abad</th>
                    <td>Deva</td>
                    <td>10</td>
                    <td>Link</td>
                    <td>Link</td>
                </tr>
            </tbody>
        </table>
    </body>

{% endblock %}