body{
    background: #787878;
    margin: 25px;
}

h1 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 25px;
    background: #969696;
}
h2 {
    font-size: 20px;
    padding-left: ;
    background: #969696;
}
h3{
    font-size: 20px;
}

p1{
    font-size: 25px;
    margin-left: 50px;

}
p2{
    font-size: 15px;

}

li{
    font-size: 15px;
}

img{
    width: 200px;
    height: auto;
}

div{
    margin-top: 10px;
    margin-bottom: 10px;
}

ul{
    background: #969696;
}
div2{
    background: #000000;
}
div1{
    background: #afafaf;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #969696;
    color: white;
    text-align: right;
    margin-right: 50px;
 }
